.header_search {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 0px;
  /* position: static;
  float: none; */
}
body {
  overflow-x: hidden;
}
/* .header_search:focus-within {
    border: 2px solid #e63946;
} */

input {
  outline: none;
}

.header__searchIcon {
  padding: 5px !important;
  padding-left: 10px;
  min-width: max-content !important;
  padding-right: 10px;
  height: 100% !important;
  background-color: #78290f;
  transition-duration: 0.4s;
}

.header__searchIcon:hover {
  background-color: brown;
}

#header_cat {
  height: 100%;
  background-color: #f3f3f3;
  max-width: 50px;
  border-radius: 5px 0px 0px 5px;
  transition-duration: 0.4s;
}

#header_cat:hover {
  background-color: gray;
}

.header__searchIcon {
  border-radius: 5px 5px 5px 5px;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 130%;
  margin-left: 27px;
  margin-right: 27px;
  left: 0;
  right: 0;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.autocomplete-items div {
  padding: 3px;
  cursor: pointer;
  background-color: #f7efe5;
  color: rgb(26, 25, 25);
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items :hover {
  /*when hovering an item:*/
  background-color: #ffecd1;
}

.search-result-box {
  z-index: 1;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 3000px;
  display: none;
}
.search-recommendation {
  height: 100px;
  border: lightblue 1px solid;
}

.search-recommendation-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-recommendation-thumbnail {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  overflow: hidden;
  border: 2px solid gray;
  background-color: #ffecd1;
}
